@model real_apps.Models.Product

@{
  ViewData["Title"] = "Product Page";
}


<form asp-controller="product" asp-action="save" method="post" enctype="multipart/form-data">
  <table cellpadding="2" cellspacing="2">
    <tr>
      <td>Id</td>
      <td>
        <input type="text" asp-for="Id" />
      </td>
    </tr>
    <tr>
      <td>Name</td>
      <td>
        <input type="text" asp-for="Name" />
      </td>
    </tr>
    <tr>
      <td>Price</td>
      <td>
        <input type="text" asp-for="Price" />
      </td>
    </tr>
    <tr>
      <td>Photos</td>
      <td>
        <input type="file" name="Photos" multiple="multiple" />
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" value="Save" /></td>
    </tr>
  </table>
</form>