@{
    ViewData["Title"] = "Demo Page";
}

<div class="text-center">
    <h3 class="format">Index page</h3>
    <img src="~/images/Roses1.jpg" onclick="clickMe()" />
</div>

@section Scripts {
    <script src="~/wwwroot/js/mylib.js"></script>
}