@{
    ViewData["Title"] = "Demo Page";
}

<div class="text-center">
    <h3>Index View</h3>
    <a asp-controller="demo" asp-action="demo2" 
      asp-route-id="123">Demo 2</a>
    <br />
    <a asp-controller="demo" asp-action="demo3" 
      asp-route-id1="123" asp-route-id2="p01">Demo 3</a>
</div>
