@{
  ViewData["Title"] = "Demo Page";
}

<div class="text-center">
  <h3>Index View</h3>
  <a asp-controller="demo">Index</a>
  <br />
  <a asp-controller="demo" asp-action="index">Index</a>
  <br />
  <a asp-controller="demo" asp-action="demo2">Demo 2</a>
</div>