@{
    ViewData["Title"] = "AboutUs Page";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@section head {
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
}

<h2 class="format">About Us Page</h2>
