@page
@model EditModel
@{
}

<br />
<h2>Edit Book</h2>
<br />
<div style="border:1px solid #bbb9b9; border-radius:5px;">
    <form method="POST">
        <div class="row" style="padding-left:50px; padding-top:30px;">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <label asp-for="Book.ISBN"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Book.ISBN" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="Book.ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <label asp-for="Book.Tytul"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Book.Tytul" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="Book.Tytul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <label asp-for="Book.Autor"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Book.Autor" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="Book.Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <label asp-for="Book.Cena"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Book.Cena" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="Book.Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <label asp-for="Book.Dostepnosc"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Book.Dostepnosc" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="Book.Dostepnosc" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary btn-sm" />
                <a asp-page="Index" class="btn btn-success btn-sm">Back to List</a>
            </div>
        </div>
    </form>
</div>
